body {
    margin: 0;
    background: #000;
}
ul {
    padding-inline-start: 0;
    margin:0;
}
li {
    list-style: none;
}

.brand-button {
    background: $white;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin-top:25px;

   a {
       color: $black;

       &:hover {
           color: $brown;
       }
   }
    

    &.intro {
        margin-top:50px;
    }
}

.wrapper {
    color: $white;
    padding: 150px 25px 75px;

    @include small {
        display:none;
    }
}
.screen-msg {
    display: none;

    @include small {
        display: block;
        color: white;
        padding: 50vh 0;
        height: 100vh;
        text-align: center;
        width: 50%;
        margin: auto;
        font-size: 20px;
    }
}
.pagination_wrapper {
    width: 100%;
    padding: 15px 20px 20px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    /* right: 20px; */
    background: black;
}
.page_btn {
    width: 90px;

    a {
        color: $white;
        display: inline-block;
        // border: 1px solid;
        text-transform: uppercase;
        font-weight: bold;
        padding: 7px 15px;
        font-size:13px;
        // border-radius: 50px;

        &:hover {
            text-decoration: none;
        }
    }
}
.summary {
    a {
        color: $green;
    }
}
.home {
    a {
        color: $brown;
    }
}

.intro-wrapper {
    color: $white;
    padding: 125px 25px;
}
.intro {
    padding-top:100px;
}
.intro-title {
    color: $brown;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    padding-bottom: 20px;
}
.intro-description {
    font-size: 18px;
    line-height:1.4;
    width:90%;
    margin: auto;
}

.offer-wrapper {
    padding-top: 30px;
}
.highlight-wrapper {
    padding-top:20px;
}
.highlight {
    // padding-top:50px;
    margin-bottom:50px;

    .highlight-title {
        font-size: 36px;
        padding-bottom:20px;
        font-weight: lighter;
    }
    .highlight-desc {
        font-size:14px;
    }
    .highlight-list {
        padding: 30px 0;
        li {
            font-size:20px;
            padding-bottom: 15px;
            width:80%;
            margin:auto;
        }
    }
    .highlight-details {
        .highlight-details-title {
            font-weight: bold;
            text-transform:uppercase;
            font-size:14px;
        }
        .details-list {
            padding-top: 10px;
            padding-bottom:50px;

        }
    }

    &::after {
        content: "\2666";
        width: 100px;
        // background: white;
        height:2px;

        
    }
    &:last-child {
        margin-bottom:0;

        &::after {
            display: none;
        }
    }
}

.offer-list {
    li {
        font-weight:lighter;
        font-size:28px;
        padding-bottom:15px;
    }
}

.nextstepsoffer,
.select-response {
    font-weight:lighter;
    font-size:28px;
    padding-bottom:15px;
}
.nextsteps-wrapper {
    padding-top:50px;
}
.nextsteps-desc {
    font-size: 14px;
    padding-bottom:50px;
    width:90%;
    margin:auto;
}

.schedule {
    padding-bottom:25px;
    a {
        color: $brown;
        font-size: 26px;
        border-bottom: 1px solid;
        padding-bottom:3px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

.last {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.selection {
    padding-bottom:50px;
    .select-title {
        font-weight:bold;
        text-transform:uppercase;
        padding-bottom:7px;
    }
}
.about {
    padding-bottom:75px;
}
.about-list {
    
    li {
        font-weight: lighter;
        font-size: 22px;
    }
}
.services {
    padding-bottom:25px;
}